@using BasicCRM.Models;

@model Test

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level.LevelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level.LevelName)
        </dd>

    </dl>
</div>
<div class="testStyle">
    <h4>Questions</h4>

    <ol>
        @foreach (Question item in @ViewBag.Questions)
        {
            <li><p>@item.QuestionText</p>
            <ul class="">
                @foreach (var it in @item.Answers)
                {
                    <li><p>@it.AnswerText</p></li>
                }
            </ul>
        </li>
        }
    </ol>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
