@using BasicCRM.Models;

@model Test

<h2>@ViewBag.Title</h2>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level.LevelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level.LevelName)
        </dd>

    </dl>
</div>
<div class=" testStyle">
    <h4>Questions</h4>

    @using (Html.BeginForm("Start", "Tests", FormMethod.Post))
            {
                @Html.HiddenFor(mo => mo.TestID);
        <ol class="questionNumbers">
            @foreach (Question item in @ViewBag.Questions)
                {
            <li><p>@item.QuestionText</p>
            <ul class="list_style_type_none">
                @foreach (var it in @item.Answers)
                {
                    <li><input class="checkBoxItem" type="checkbox" value="@it.AnswerID" /><p>  @it.AnswerText</p></li>
                }
            </ul>
            </li>
        }
    </ol>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit" type="button" value="Complete" class="btn btn-default" />
            </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script>
    $(document).ready(function () {
        $("#submit").click(function (e) {
            e.preventDefault();
            var testId = $('input:hidden[name=TestID]').val();
            var checkedItemsList = [];
            $(".checkBoxItem:checked").each(function () {
                checkedItemsList.push($(this).val());
            });
            if (checkedItemsList.length == 0) {
                alert('Please check any answer!');
                return;
            }

            $.ajax({
                type: 'post',
                url: '/Tests/Start',
                data: { checkedItemsIds: checkedItemsList, currentTestId: testId },
                success: function (response) {
                    if (response == "NoCheckedItem")
                        alert('Plaese check any answer');
                    else
                    window.location.href = "/Tests/Complete?TestsArchiveId="+response.TestsArchiveId
                }
            });
        });
    });
</script>